# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Virtual envs
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Env files
.env
.env.*
!.env.example

# Celery
celerybeat-schedule
celerybeat.pid

# Testing / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
coverage.xml

# SonarQube
.scannerwork/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker volumes
postgres_data/
redis_data/
kafka_data/
